# 5 Levels of Python Tags

In [17]:
from apyori import apriori
import pandas as pd
df = pd.read_csv('C:/Users/moham/OneDrive/Desktop/final.csv')
df['tags'] = df['tags'].apply(lambda x: x.replace('|',','),)
df = df.drop('Unnamed: 0',axis=1)

In [18]:
def find_lan(lan):
    tags = df['tags'][df['tags'].str.contains('python')].reset_index()
    matches = []
    for c in tags['tags']:
        if lan in c:
            matches.append(c)
    pg = pd.DataFrame(matches)
    pg = pg.drop_duplicates(subset=[0]).reset_index()
    pg = pg.rename(columns={0: 'tags'})
    pg = pg.drop('index',axis=1)
    pg["len"] = pg['tags'].apply(lambda x: len(x.split(',')))
    return pg

In [19]:
all_rules = find_lan('python' or'python-2.7'or'python-2.x' or'python-3.4'or'python-3.5'or'python-3.x').sort_values('len',ascending=True)

In [20]:
all_rules[all_rules['len']==3]

                             tags  len
419         python,logging,colors    3
318          python,numpy,pycharm    3
370         python,unicode,decode    3
439           python,windows,ansi    3
420  python,opencv,opencv-contour    3
..                            ...  ...
29            python,list,replace    3
274           python,opencv,numpy    3
171     python,pandas,multi-index    3
271         python,zoom,pyqtgraph    3
130     python,mysql,mysql-python    3

[265 rows x 2 columns]

In [21]:
rules_2 = all_rules[all_rules['len'] == 2]
rules_3 = all_rules[all_rules['len'] == 3]
rules_4 = all_rules[all_rules['len'] == 4]
rules_5 = all_rules[all_rules['len'] == 5]

In [22]:
pp = ['python-2.7','python-2.x','python-3.4','python-3.5','python-3.x']
pattern = '|'.join(pp)

In [23]:
def find_pure(rule_len):
    newlist_2 = []
    for word in list(rule_len['tags']):
        word = word.split(",")
        newlist_2.extend(word)

    tt = pd.DataFrame(list(set(newlist_2)))
    pure_python = tt[~tt[0].str.contains(pattern)]
    pure_python = pure_python[~(pure_python[0]=='python')]
    return pure_python

In [24]:
pd_2 = find_pure(rules_2)[0]
pd_3 = find_pure(rules_3)[0]
pd_4 = find_pure(rules_4)[0]
pd_5 = find_pure(rules_5)[0]

In [25]:
inter_1 = list(set(pd_2).intersection(set(pd_3)))
pattern_1 = '|'.join(inter_1)

In [26]:
pure_3 = pd_3[~pd_3.str.contains(pattern_1)]

In [27]:
inter_2 = list(set(pd_4).intersection(set(pure_3)))
pattern_2 = '|'.join(inter_2)

In [28]:
p_4 = pd_4[~pd_4.str.contains(pattern_2)]

In [29]:
inter_2_1 = list(set(p_4).intersection(set(pd_2)))
pattern_2_1 = '|'.join(inter_2_1)

In [30]:
pure_4 = p_4[~p_4.str.contains(pattern_2_1)]

In [31]:
inter_3 = list(set(pd_5).intersection(set(pd_2)))
pattern_3 = '|'.join(inter_3)

In [32]:
pd_51 = pd_5[~pd_5.str.contains(pattern_3)]

In [33]:
inter_4 = list(set(pd_51).intersection(set(pure_3)))
pattern_4 = '|'.join(inter_4)

In [34]:
pd_52 = pd_51[~pd_51.str.contains(pattern_4)]

In [35]:
pure_5=list(pd_52)
for word in list(pd_52):
    if word in list(pure_4):
        pure_5.remove(word)
pure_5 = pd.DataFrame(pure_5)[0]

In [267]:
pd_2.to_csv('C:/Users/moham/OneDrive/Desktop/pd_2.csv')
pure_3.to_csv('C:/Users/moham/OneDrive/Desktop/pure_3.csv')
pure_4.to_csv('C:/Users/moham/OneDrive/Desktop/pure_4.csv')
pure_5.to_csv('C:/Users/moham/OneDrive/Desktop/pure_5.csv')

In [1]:
import pandas as pd
pd.read_csv('C:/Users/moham/OneDrive/Desktop/Python_Tags_Levels.csv')

,python_parents,python_related,Level1,Level2,Level3,Level4,Level5
0,python,ipython-notebook,python-3.x,pycharm,writer,duplicate-removal,blas
1,python-3.x,ipython,ipython-notebook,gtk,email,minimize,sdiff
2,python-2.7,activepython,python-sphinx,image,boto3,fonts,boost-python
3,python-2.x,boost-python,python,leaflet,ini,mutable,critical-section
4,python-3.4,python-import,NaN,permutation,nlp,ocr,regression
...,...,...,...,...,...,...,...
212,NaN,NaN,NaN,NaN,NaN,default-value,NaN
213,NaN,NaN,NaN,NaN,NaN,pickle,NaN
214,NaN,NaN,NaN,NaN,NaN,html5lib,NaN
215,NaN,NaN,NaN,NaN,NaN,port,NaN
216,NaN,NaN,NaN,NaN,NaN,metaclass,NaN